{% extends "store/main.html" %} {% load static %} {% block content %}

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 gy-5 gx-4">
  {% for product in products %}
  <div class="col">
    <div class="card shadow border border-light-subtle">
      <img
        src="{{product.imageURL}}"
        class="card-img-top"
        alt="product image" style="width: 100%; height: 260px; object-fit: cover; object-position: center;" />
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <hr />
        <div class="d-flex gap-1 align-items-center">
          <button type="button" class="btn btn-success">Add to cart</button>
          <button type="button" class="btn btn-outline-secondary">View</button>
          <h6 class="ms-auto m-0">${{product.price|floatformat:2}}</h6>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <h5 class="text-muted">No products available.</h5>
  {% endfor %}
</div>

{% endblock content %}
