{% extends "store/main.html" %} {% load static %} {% block content %}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="col">
    <div class="card shadow-sm">
      <img src="https://placehold.co/600x400" class="card-img-top" alt="product image" />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <hr>
        <div class="d-flex gap-1 align-items-center">
            <button type="button" class="btn btn-success">Add to cart</button>
            <button type="button" class="btn btn-outline-secondary">View</button>
            <h4 class="ms-auto">20$</h4>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
